body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    /* height: 1000vh; */
}
#logonavbar{
    background-color: #2b2b2b;
    display: flex;
    height: 70px;
    gap: 20px;
   
}
#logo img{
    width: 50px;
    

}
#logo>h6{
    cursor: pointer;
    color: white;
    font-size: 23px;
    height: 50px;
    margin: 0px;
    padding: 20px;
    margin-left: 50px;
}
#navationbar{
    margin-top: 25px;
    display: flex;
    
}
#navationbar a{
    color: white;
    text-decoration: none;
    font-size: 17px;
font-weight: 850; 
}

#cartcontanct{
    cursor: pointer;
    display: flex;
    color: white; 
    /* gap: 17px; */
    margin-left: 130px;

    font-size: 14px;
    
    
}
#para1{
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    margin-top: -15px;
  
}
#para2{
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    margin-top: -15px;
    margin-left: 19px;
}
#para3{
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    margin-top: -15px;
    margin-left: 19px;
   
}
#para4{
    
    border-radius: 10px;
    height: 40px;
    width: 30px;
    margin-top: -10px;
    margin-left: 25px;
   
}
#domain{
        border: 1px solid #2b2b2b;
        border-radius: 10px;
        height: 30px;
        padding: 10px;
        margin-top: -13px;   
        cursor: pointer;    
    
}
#hosting{
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    height: 30px;
    padding: 10px;
    margin-top: -13px;   
    margin-left: 10px;
    
}
#Security{
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    height: 30px;
    padding: 10px;
    margin-top: -13px;   
    margin-left: 10px;
   
}
#Marketing{
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    height: 30px;
    padding: 10px;
    margin-top: -13px;   
    margin-left: 10px;
}
#Professionals{
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    height: 30px;
    padding: 10px;
    margin-top: -13px;   
    margin-left: 10px;
}
#domain:hover{
    border: 1px solid #444444;
    background-color: #444444
}
#hosting:hover{
    border: 1px solid #444444;
    background-color: #444444
}
#Security:hover{
    border: 1px solid #444444;
    background-color: #444444
}
#Marketing:hover{
    border: 1px solid #444444;
    background-color: #444444
}
#Professionals:hover{
    border: 1px solid #444444;
    background-color: #444444;
    opacity: 0.9;
}
#para1:hover{
    border: 1px solid #444444;
    background-color: #444444;
}
#para2:hover{
    border: 1px solid #444444;
    background-color: #444444;
}
#para3:hover{
    border: 1px solid #444444;
    background-color: #444444;
}
#calldropmaincontainer{
display: none;
position:absolute;
overflow: hidden;
background-color: white;
width: 100%;
transition: 5s;
}
#calldropcontainer{
    display: flex;
    /* border: 1px solid red; */
    height: 260px;
    transition: 6ms;
    
    
}
#callusdrop{
    margin-left: 60px;
    
}
#callusdrop>p{
    font-weight: bold;
}
#callushead{
    font-size: 20px;
    color: #111111;
}
#phno:hover{
    text-decoration: underline;
    cursor: pointer;

}
#hours:hover{
    text-decoration: underline;
    cursor: pointer;

}
#chatnow{
    margin-left: 450px;
}
#chatnow>p{
    font-weight: bold;
}
#chat{
    font-size: 20px;
}

#start{
    border: 1px solid black;
    display: inline-block;
        width: 100px;
        padding: 15px;
        background-color: #111111;
        color: #EBEBEB;
        border-radius: 5px;
        cursor: pointer;
}
#Whatsapp{
    border: 1px solid black;
    margin-left: 50px;
    padding: 15px;
    background-color: #ffffff;
    color: #111111;
    border-radius: 5px;
    cursor: pointer;
}
#startwhats{
    display: flex;
}

#logo:hover #calldropcontainer{
    background-color: aqua;
}

#serach{
    height: 40px ;
    width: 650px;
    margin-top: 16px;
    margin-left: 80px;
    padding: 10px;
    background-color: #EBEBEB;
    /* border-color:#2b2b2b ; */
    border: none;
}
#serach::placeholder{
    color: #2b2b2b;
    font-size: 19px;
   
}
#serachbtn{
    height: 60px ;
    padding: 16px 32px;
    background-color: #00838c;
    color: #ffffff;
    font-size: 16px;
    margin: -5px;
    cursor: pointer;

}

#serachdomainflexcontainer{
    display: flex;
}
#ratesrupess{
    display: flex;
    padding: 4px 0px;
    color: #111111;
    /* margin: 8px 16px; */
    margin-left: 29px;
}

#org{
    margin: 13px 16px;
    font-size: 14.642px;
    color: #767676;
}
#indina{
    margin: 13px 16px;
    font-size: 14.642px;
    color: #767676;
}
#app{
    margin: 13px 16px;
    font-size: 14.642px;
    color: #767676;
}
#signinn{
    color: #00838c;
}
#signinn:hover{
    text-decoration: underline;
}
#inc{
    margin: 13px 16px;
    font-size: 14.642px;
    color: #767676;
}
#Createanacc{
    color: #00838c;
}
#Createanacc:hover{
    text-decoration: underline;
}
#comdomains{
    display: flex;
}
#comdomaninsbackimg{
    background-image: url(https://img1.wsimg.com/cdn/Image/All/All/2/All/3b6c06c7-c283-4859-a64a-751cdc5c57b3/intl-mrq-domain-lp-landscape.jpg);
    margin-left: 80px;
    margin-top: 10px;
    height: 350px;
    width: 900px;
    padding: 40px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-radius: 10px;
}
#comdomaninsbackimg>h2{
    font-size: 16px;
    margin: 0px 0px 16px;
    color: #111111;
}
#comdomaninsbackimg>span{
    font-size: 37px;
    margin: 0px 0px 16px;
    color: #111111;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
#comdomaninsbackimg>span:nth-child(5){
    font-size: 15px;
    margin: 0px 0px 16px;
    color: #111111;
    margin-top: 20px;
}
#findyourdomain{
    background-color: #111111;
    color: #ffffff;
    padding: 10px 16px;
    border-radius: 5px;
    margin-top: 45px;
    font-size: 16px;
}
#paragraph{
    margin-top: 29px;
    color: #111111;
    font-size: 12px;
    
}
#createyourwebsite{
    background-color: #fde9db;
    height: 350px;
    width: 300px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 25px;
    padding: 40px;
}

#webMarketing>h4{
    padding: 10px 16px;
    margin: 0px 0px 16px;
    color: #111111;

}
#Createyourfree>h1{
    padding: 0px 16px;
    margin: 0px 0px 16px;
    color: #111111;
    font-size: 37px;
}
#startforbtn{
    background-color: #111111;
    color: #ffffff;
    padding: 10px 16px;
    margin: 0px 0px 16px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
}
#startforfree>span{
    color: #111111;
    margin-left: 10px;
    font-size: 16px;
}
#nocharge>p{
    color: #111111;
    margin: 24px 0px 16px;
    margin-left: 20px;
    font-size: 12.647px;
}
#growyourbusiness{
    padding: 32px 0px 0px;
}
#growyourbusiness>h1{
    font-size: 52px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#growyourbusiness>h5{
    font-size: 18px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#emailandhosting{
    margin-top: 60px;
    width: 690px;
    display: flex;
}
#Professionalemail>img{
    /* margin: 0 0 16px; */
    background-size: cover;
    height: 400px;
    width: 690px;
    margin-left: 90px;
}
#Professionalemail>h5{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 90px;
}
#Professionalemail>p{
    font-size: 16px;
    margin: 0px 0px 16px;
    margin-top: -40px;
    margin-left: 90px;
    color: #111111;
    
}
#Professionalemail>p:nth-child(6){
    font-size: 17px;
    margin: 0px 0px 16px;
    margin-top: -40px;
    margin-left: 90px;
    color: #111111;
    
}
#Professionalemail span{
   
    margin: 0px 0px 16px;
    margin-top: -40px;
    margin-left: 0px;
    color: #111111;
    font-size: 35px;
    
}
#exploreplans>button{
    padding: 12px 48px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-left: 90px;
    margin-top: 20px;
    cursor: pointer;
    color: #111111;
}
#webhoiting>img{
    /* margin: 0 0 16px; */
    background-size: cover;
    height: 400px;
    width: 650px;
    margin-left: 30px;
}
#webhoiting>h5{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 32px;
}
#webhoiting>p{
    font-size: 16px;
    margin: 0px 0px 16px;
    margin-top: -40px;
    margin-left: 32px;
    color: #111111;
    
}
#webhoiting>p:nth-child(6){
    font-size: 17px;
    margin: 0px 0px 16px;
    margin-top: -40px;
    margin-left: 32px;
    color: #111111;
    
}
#webhoiting span{
   
    margin: 0px 0px 16px;
    margin-top: -40px;
    margin-left: 0px;
    color: #111111;
    font-size: 35px;
    
}
#exploreplans2>button{
    padding: 12px 48px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-left: 32px;
    margin-top: 20px;
    cursor: pointer;
    color: #111111;
}
#godaddyguidesmain{
    margin-top: 90px;
}
#godaddyguidesbgimg{
    background-image:url(https://img1.wsimg.com/cdn/Image/All/All/2/All/8b9985c6-8a6a-438c-8962-68fdb4e312ac/mrq-Guide-IN-PK-Suraiya-desktop.jpg);
   /* height: 620px; */
    background-repeat: no-repeat;
    background-size: contain;
    
}
#guidescontent{
    padding: 48px;
    margin-left: 730px;
}
#guidescontent>h2{
    font-size: 50px;
    width: 500px;
}
#guidescontent>p{
    color: #111111;
    font-size: 14px;
    width: 500px;
    margin-top: -10px;
    font-weight: bold;
}
#gethelpbtn{
    background-color: #111111;
    color: #ffffff;
    padding: 15px 40px;
    margin: 0px 0px 26px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 16px;
    margin-left: 0px;
    cursor: pointer;
}
#gethelp .fa-solid {
    margin-left: 5px;
    
    display: none;
}
#gethelp :hover .fa-solid{
   display: inline-block;
    color: #ffffff;
    transition: 0.5s;
    /* transform: scaleZ(1); */
    /* margin-left: -10px; */
}
.fa-solid{
    color: #ffffff;
   
}
#gethelpbtn:hover span:nth-child(1){
    /* background-color: #00838c; */
    transition: 0.5s;
    /* background-color: red; */
    margin-left: -25px;
  
}
#footerflex{
    display: flex;
    padding: 40px 72px;
    background-color: #111111;

}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #767676;
}
#aboutgodady>p{
    margin-left: 39px;
    color: #ffffff;
}
#aboutgodady>ul{
    line-height: 45px;
}
#support{
    margin-left: 150px;
}
#support>p{
    margin-left: 39px;
    color: #ffffff;
}
#support>ul{
    line-height: 45px;
}
#resources{
    margin-left: 80px;
}
#resources>p{
    margin-left: 39px;
    color: #ffffff;
}
#resources>ul{
    line-height: 45px;
}
#partnerprogram{
    margin-left: 50px;
}
#partnerprogram>p{
    margin-left: 39px;
    color: #ffffff;
}
#partnerprogram>ul{
    line-height: 45px;
}
#account{
    margin-left: 50px;
}
#account>p{
    margin-left: 39px;
    color: #ffffff;
}
#account>ul{
    line-height: 45px;
}
#shopping{
    margin-left: 50px;
}
#shopping>p{
    margin-left: 39px;
    color: #ffffff;
}
#shopping>ul{
    line-height: 45px;
}
#copyrightslegal{
    display: flex;
    background-color: #111111;
}
#copyrights>p{
    font-size: 12px;
    color: #EBEBEB;

}
#copyrights{
    width: 1150px;
    padding: 30px 72px;
}
#legal{
    margin-top: 35px;
    word-spacing: 10px;
    
}
#legal span a{
    color: #EBEBEB;
}
#welcomepage>h2{
    text-align: center;
    
}
#loginsignup{
    border: 1px solid black;
    height: 605px;
    width: 550px;
    margin-left: 500px;
    margin-top: 50px;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    background-color: white;
    display: none;
    animation-name: trans;
  animation-duration: 2s;
}
#loginheader>h3{
    text-align: center;
}
#phonemaindiv{
    border: 1px solid black;
    height: 150px;
    width: 480px;
    margin-left: 30px;
    border-radius: 10px;
}
#phonenumber>input[type=text]{
    border: none;
    width: 476px;
    height: 50px;
    margin-top: 12px;
    border-radius: 10px;
    
}
#Countrycode{
    border: none;
    width: 480px;
   
}
#continuebtn>button{
    padding: 10px 210px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #111111;
    color: #EBEBEB;
}

/* #para3:hover~#loginsignup{
   
    display: block;
  
  animation-name: trans;
  animation-duration: 2s;

   

} */
#loginsignup img{
    width: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}
#loginheader{
    margin-top: -40px;
}
#bodycolor{
  height: 555px;
    background-color: #111111;
    position: absolute;
    top: 100px;
}
@keyframes trans{
    from{
        transform: translateY(350px);
        /* margin-left: 540px; */
    }
    to{
        transform: translateY(0px);
    }
}

#registerusers{
    border: 1px solid black;
    height: 450px;
    width: 250px;
    padding: 10px;
    margin-left: 500px;
    line-height: 35px;
    position: absolute;
    top: 70px;
    right: 220px;
    background-color: white;
    display: none;
}
#needhelp{
    background-color: #2b2b2b;
    height: 50px;
}
#needhelp>h3{
    text-align: center;
    line-height: 50px;
    color: white;
}
hr{
    background-color: #2b2b2b;
   padding: 0;
   margin: 0;
   
   
}
sub{
    font-size: 14px;
    vertical-align: sub;
    margin-left: -35px;
    position: relative;
    top: 13px;
    

}